html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  color: black;
}

.Navigation_bar {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin: 0;
  margin-bottom: 1vw;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  display: none;
}

.home, .Calendar, .Annoucements, .More_documents_n_Annoucements, .Setting {
  width: 60px;
  height: 60px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 1000;
  font-family: Arial, sans-serif;
  transition: all 0.5s;
}

.home::before, .Calendar::before, .Annoucements::before, .More_documents_n_Annoucements::before, .Setting::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 50% 50%;
  color: #353a5f;
  font-size: 13px;
  text-align: center;
}

.home {background: linear-gradient(90deg, #a98cfe 0%, #a5edff 100%);}

.Calendar {background: linear-gradient(225deg,#ff3cac 0%,#784ba0 50%,#2b86c5 100%)}

.Annoucements {background: linear-gradient(225deg,#18A5A7 0%,#BFFFC7 100%)}

.More_documents_n_Annoucements {background: linear-gradient(225deg,#E90000 0%,#f1517c 50%,#FAA6FF 100%);}

.Setting {background: linear-gradient(225deg,#FFE998 0%,#a88d50 50%,#57370D 100%)}

.Calendar:hover:before, .Annoucements:hover:before, .More_documents_n_Annoucements:hover:before, .Setting:hover:before {
  background: transparent;
  white-space: pre;
  border-radius: 30px;
}

.Calendar:hover:before {background: linear-gradient(225deg,#ff3cac 0%,#784ba0 50%,#2b86c5 100%);}
.Annoucements:hover:before {background: linear-gradient(225deg,#18A5A7 0%,#BFFFC7 100%);}
.More_documents_n_Annoucements:hover:before {background: linear-gradient(225deg,#E90000 0%,#f1517c 50%,#FAA6FF 100%);}
.Setting:hover:before {background: linear-gradient(225deg,#FFE998 0%,#a88d50 50%,#57370D 100%);}

.Frame_view {
  left: calc(0vw - 1vw);
  bottom: 10.5vh;
  width: 100vw;
  height: 89vh;   
  position: absolute;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
}

.back_frame {
  width: calc(100vw - 2vw);
  height: calc(89vh - 2vw);
  background: white;
  box-sizing: border-box;
}

.Frame1 {
display: none;
background: linear-gradient(225deg,#FFE998 0%,#a88d50 50%,#57370D 100%);
}

.Frame2 {
display: none;
background: linear-gradient(225deg,#18A5A7 0%,#BFFFC7 100%);
}

.Frame3 {
display: none;
background: linear-gradient(225deg,#ff3cac 0%,#784ba0 50%,#2b86c5 100%);
}

.Frame4 {
display: none;
background: linear-gradient(225deg,#FFE998 0%,#a88d50 50%,#57370D 100%);
}

iframe {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border:none;
  background-color: transparent;
  background: transparent;
}

@media (orientation: portrait) {
  .portrait {display: flex;}

  .Navigation_bar {
    flex-direction: row;
    width: 98vw;
    height: 10vh;
    position: absolute;
    bottom: 0;  
  }
}



.Flex {display: flex;}

.columnflex {text-align:center; flex-direction: column;justify-content: start;align-items: center;}

.background-home {
z-index: -10;
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(225deg, #ffd8a4 0%, #f3a9b3 30%, #e07dcf 50%, #b78ce2 75%, #6d7ced 100%);
display: flex;
justify-content: center;
align-items: center;
}

.blur-box-center {
background-color: rgba(255, 255, 255, 0.2);
width: 400px;
height: 300px;
position: absolute;
border-radius: 20px;
display: flex;
text-align: center;
flex-direction: column;
justify-content: center;
align-items: center;
}

.Welcome, .content-after-welcome {
font-family: 'Dancing Script', cursive;
font-size: 40px;
color: #333333;
user-select: none;
pointer-events: none;
-webkit-user-select: none;
}

.content-after-welcome {font-size: 30px;}

.user-select-none {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.search-box, .borderunder_searchbox {
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
  display:flex;
  align-items:center;
  width: 90vw;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  border: none;
  box-sizing: border-box;
  transform: translate(-50%,0%);
  position: relative;
  left: 50%;
  margin: 0;
  margin-top:5px;
  margin-bottom: 10px;
}

.search-box {background: white; color: black}

.borderunder_searchbox{
position: absolute;
width: calc(90vw + 16px);
height: calc(30px + 10px);
margin: 0;
border-radius: 26px;
}

.Annoucements-color {background: linear-gradient(225deg,#18A5A7 0%,#BFFFC7 100%)}

.More_documents_n_Annoucements-color {background: linear-gradient(225deg,#E90000 0%,#f1517c 50%,#FAA6FF 100%)}

.Frame_content, .Frame_content_background {
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: normal;
width: 100%;
height: 100%;
background: transparent;
color: black;
padding: 5px;
box-sizing: border-box;
display: flex;
flex-direction: column;
}

.Frame_content_background{
  display:flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
  color: black;
  background: white;
--gap: 2.5em;
--line: 1px;
--color: rgba(0, 0, 0, 0.452);

background-image: linear-gradient(
    -90deg,
    transparent calc(var(--gap) - var(--line)),
    var(--color) calc(var(--gap) - var(--line) + 1px),
    var(--color) var(--gap)
  ),
  linear-gradient(
    0deg,
    transparent calc(var(--gap) - var(--line)),
    var(--color) calc(var(--gap) - var(--line) + 1px),
    var(--color) var(--gap)
  );
background-size: var(--gap) var(--gap);
}

.Frame_content {
width: 100%;
max-width: 100%;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
word-wrap: break-word;
overflow-wrap: break-word;
white-space: normal;
padding: 0;
margin: 0;
box-sizing: border-box;
}

.Frame_content::-webkit-scrollbar {
  width:0;
}

.Frame_content table {
  width: 100%; /* Make the table take the full width of the container */
  table-layout: fixed; /* Ensure that the columns are distributed evenly */
}

.Frame_content table td {
  word-wrap: break-word;  /* Ensure that text in table cells can wrap */
  overflow: hidden;
  border: 2px solid #ad4f00;
  padding: 5px;
}

.Frame_content table td:nth-child(1) {
  width: 34%; /* Set the first column to 34% */
}

.Frame_content table td:nth-child(2) {
  width: 64%; /* Set the second column to 64% */
}

a {color: #1E90FF; font-style: italic; text-decoration: underline;}

span {font-family: 'Dancing Script', cursive; font-size: 32px;}

.Style-button {
  width: 168.75px;
  height: 75px;
  border-radius: 75px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.6), 0 2px 4px rgb(168, 161, 161);
  margin-top: 35px;
}

.capnhat, .refreshbutton, .lichBooking3 {
  display:grid;
  place-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  display: inline-flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;
  background: white;
  color: #57370D;
  border: 3px solid #57370D;
}

.capnhat::after {
  content: "More\A Documents";
  white-space: pre;
  font-size: 1.3rem;
}

.lichBooking3::after {
  padding-right: 8px;
  content: "Staff\A Calendar 3.0";
  white-space: pre;
  font-size: 1.3rem;
}

#refreshbutton, #capnhatbutton, #lichbutton {
  display: inline;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  margin-right: 0.5rem;
  color: #57370D;
  border: none;
  user-select: none;
  -webkit-user-select: none;
}

#lichbutton {margin-right: 0.1rem; opacity: 0; animation: dissolveAnimation 3s infinite;}

#capnhatbutton {animation: moveUpDown 1s ease-in-out infinite; transform: translateY(8px);}

#refreshbutton {animation: rotate360 1s linear infinite;}

.rotate {animation: rotate3600 20s ease-out;}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes dissolveAnimation {
  0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

.ANOFrame, .MDFrame, .Before_MDFrame_ANOFrame {
  margin:0;
  padding: 0;
  display:none;
  width: 95vw;
  height: calc(75vh - 5px);
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50vw;
  top: calc(45vh + 5px);
}

.Before_MDFrame_ANOFrame{
  display: grid;
  place-content: center;
  font-size: clamp(1.5rem,3rem,2vw);
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.ANOFrame-button, .MDFrame-button {
  margin-top:5px;
  width: 45%;
  height: 50px;
  border-radius: 25px;
}

.ANOFrame-button::before, .MDFrame-button::before {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  font-size: clamp(1rem,2rem,2vw);
}

.ANOFrame-button {background: linear-gradient(225deg,#18A5A7 0%,#BFFFC7 100%);}
.ANOFrame-button::before {content: "Annoucements";}

.MDFrame-button {background: linear-gradient(225deg,#E90000 0%,#f1517c 50%,#FAA6FF 100%);}
.MDFrame-button::before {content: "More Documents";}


@media (orientation: landscape) {
  .landscape {display: flex;}
  
  .Navigation_bar {
    flex-direction: column;
    width: 80px;
    height: 100vh;
    position: absolute;
    left: 0vw;
    border-radius: 0;
    align-items: start;
    padding-left: 10px;
  }

  .Frame_view {
    left: calc(0vw + 80px);
    top: calc(-0vh);
    width: calc(100vw - 80px);
    height: 100vh;
  }

  .back_frame {
    width: calc(100% - 2vw);
    height: calc(100vh - 2vw);
  }

  .Annoucements:hover:before, .Calendar:hover:before, .More_documents_n_Annoucements:hover:before, .Setting:hover:before {z-index: 10;}

  .ANOFrame, .MDFrame {
    margin:0;
    padding: 0;
    display:none;
    width: 92vw;
    height: calc(85vh - 15px);
    transform: translate(-50%,0%);
    position: absolute;
    left: calc(50vw - 40px);
    top: 80px;
  }

}
